export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export __GLVND_DISALLOW_PATCHING=1
export XDG_DATA_DIRS=/usr/local/share:/usr/share:$HOME/.local/share
export GDK_DPI_SCALE=1.25
export QT_FONT_DPI=128
xrandr --dpi 128
