URxvt.font: xft:DejaVu Sans Mono:size=10
URxvt.letterSpace: -1
URxvt.perl-ext-common: selection-to-clipboard
URxvt.background: black
URxvt.foreground: white
URxvt.transparent: true
URxvt.shading: 20
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
